<div style="display: flex">
    <div style="margin-top: 50px">
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
        <br />
        <div class="actionBtn" (click)="triggerSnapshot()" matTooltip="Take Picture">
            📸
        </div>
    </div>
    <div>
        <h4 *ngIf="errors.length >= 0">Messages:</h4>

        <div class="captured" *ngFor="let error of errors">
            {{ error | json }}
        </div>
    </div>
</div>