<h1
  style="
    letter-spacing: -2px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  "
>
  Best Rates Guaranteed at Marriott.com
</h1>
<br /><br />

<div class="row icon">
  <div class="col-3 icons"><i class="fa fa-wifi"></i><br />Free Wi-Fi</div>
  <div class="col-3 icons">
    <i class="fa fa-bed"></i><br />
    <p>Enjoy Free Nights</p>
  </div>
  <div class="col-3 icons">
    <i class="fa fa-shirtsinbulk" style="margin-left: 20px;"></i><br />
    <p>Best Rate Guarantee</p>
  </div>
  <div class="col-3 icons">
    <i class="fa fa-mobile"></i><br />
    <p>Mobile Check-in</p>
  </div>
</div>

<div class="input row">
  <div class="col-4">
    Destination <br />
    <input
      class="hi"
      type="text"
      placeholder="City,airport,attraction or address"
    />
  </div>
  <div class="col-2">
    Date <br />
    <input type="date" placeholder="" class="hi" />
  </div>
  <div class="col-2">
    Night <br />
    <input type="date" placeholder="" class="hi" />
  </div>

  <div class="col-4"    (click)="pay(20)">
    <br />
    <input
      class="hi"
      placeholder=""
      disabled
      style="
        background-color: black;
        font-size: 25px;
        text-align: center;
        color: white;
        font-weight: 300;
      "
      value="Book now"
   
    />
  </div>
</div>
<br /><br />

<div
  style="
    margin-bottom: 60px;
    box-shadow: 0 0 4px 2px rgb(197, 189, 189);
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: -14px;
    padding-top: 15px;
    background-color: rgb(241, 240, 240);
    margin-top: 80px;
    height: 200px;
  "
>
  <h3>Bookings Available :</h3>
  <small
    >Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </small>
</div>

<div class="row" style="margin-top: 150px;">
  <div class="imgm col-12">
    <div class="img1">
      <div class="col-6 img">
        <img
          src="assets\Breakfast.jpg"
          alt=""
          style="width: 100%; height: 80%;"
        />
        <h3>Breakfast for two each day of your stay</h3>

        <a style="color: orangered;"
          >BOOK NOW <i class="fa fa-chevron-right"></i
        ></a>
      </div>
      <div class="col-6 img">
        <img
          src="assets\homes-villas-beachfront-660x372.jpg"
          style="width: 100%; height: 80%; overflow: hidden;"
        />
        <h3>
          Room for the entire family.
        </h3>

        <a style="color: orangered;"
          >FIND A HOME<i class="fa fa-cubes" style="margin-left: 5px;"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div
  style="
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(197, 189, 189);
    padding-bottom: 20px;
    padding-left: 20px;

    margin-top: 20px;
    background-color: rgb(241, 240, 240);
  "
>
  <h3 style="margin-top: 180px;">Policies :</h3>
  <div>
    <small
      >Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five
      centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
    </small>
  </div>
</div>
