<div>
    <div class="row" *ngFor="let d of data ;index as i" class="cards">

        <div class="col-sm-4" style="overflow: hidden; ">
            <mat-icon matTooltip="Delete photo" style="position: absolute;cursor: pointer;" (click)="DeletephotofromSnack('You want to delete ' +d.fname+ ' employee Photo','yes',d)">close</mat-icon>



            <input id="file-input {{i}}" required mat-button style="display: none" type="file" name="img" (change)="onSelectimg($event,d)" [(ngModel)]="img" class="form-control-file" />
            <label for="file-input {{i}}"  >
                <div >
                    <img  matTooltip="Click to change photo"
                  
                     style="border-radius: 50%;margin:60px 0 0 0 ;" src="{{d.img}}"  onError="this.src='/assets/download.png'"width="80%" height="80%" alt="">
                </div>
                <!-- <div *ngIf='d.img==null'>
                    <img matTooltip="Click to change photo"
                     style="border-radius: 50%;margin:35px 0 0  0;"  src="/assets/download.png" width="80%" height="80%" alt="">
                </div> -->
         </label>





           

        </div>
        <div class="col-sm-8" style="float: right;margin: 50px 0px 15px 0px;">

            <span class="one">Full Name</span><span class=two> {{d.fname}}{{d.lname}}</span>
            <br> <span class="one">Employee Id</span> <span class=two>{{d.id}}</span>
            <br> <span class="one">DOB     </span> <span class=two>{{d.dob|date}}</span>
            <br><span class="one">Email Id </span> <span class=two>{{d.email}}</span>
            <br><span class="one">Mobile No.</span><span class=two>{{d.mobile}}</span>
            <br> <span class="one">Position </span> <span class=two>{{d.position}}</span>
            <br> <span class="one">Address </span> <span class=two>{{d.address}}</span><br>
            <button mat-raised-button color="primary" class="option">Options</button>
            <div id="deletedis" style="float: right; ">

                <button class=" btn-danger " style="width: 100%; " (click)="openSnackBar('You want to delete ' +d.fname+ ' employee data','yes',d)">Delete</button>
                <button class="btn-success " style="width: 100%; " data-toggle="modal" data-target=".bd-example-modal-lg" (click)=onUpdate(d)>Edit</button>
            </div>
        </div>

    </div>
</div>


<form (ngSubmit)="modify(form)" #form="ngForm">
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


                <div style="display: inline; margin: 20px;">
                    <div class="form-group" style=" margin-left: 40%;">

                        <input id="file-input" #photo=ngModel required mat-button style="display: none" type="file" name="img" (change)="onSelectFile($event)" [(ngModel)]="img" class="form-control-file" />
                        <label for="file-input">
                      <div style="border-radius: 5px; height: 100px;width: 100px;border: 1px solid rgb(179, 175, 175); box-shadow: 0 2px 2px 0 rgb(122, 114, 228); text-align: center;">
                        <div *ngIf='img!==null'>
                        <img [src]="img" height="100px" width="100px" alt="" preview style="float: right;border-radius: 5px;" />
                    </div>
                        <p *ngIf='img==null' style="padding: 23px;" >Image of employee</p></div>
                    </label>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label">Full Name :</label>

                        <div class="form-group col-sm-5">

                            <input type="text" #fnam="ngModel" required class="form-control" pattern="[\w]{2,20}" [class.is-invalid]="fnam.invalid && fnam.touched" [class.is-valid]="fnam.valid" name="fname" [(ngModel)]="fname" placeholder="First Name " />

                            <div *ngIf="fnam.errors && fnam.invalid && fnam.touched">
                                <small class="text-danger" *ngIf="fnam.errors.required">required</small>
                                <small class="text-danger" *ngIf="fnam.errors.pattern">
                                      Name should be atleast of 2 letters
                                    </small>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" style="width: 100%;" required class="form-control" pattern="[\w]{2,20}" [class.is-invalid]="lnam.invalid && lnam.touched" [class.is-valid]="lnam.valid" #lnam=ngModel name="lname" [(ngModel)]="lname" placeholder="Last Name" />

                            <div *ngIf="lnam.errors && lnam.invalid && lnam.touched">
                                <small class="text-danger" *ngIf="lnam.errors.required">required</small>
                                <small class="text-danger" *ngIf="lnam.errors.pattern">
                                     Last Name should be atleast of 2 letters
                                    </small>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-sm-2 col-form-label">Enter Position :</label>
                        <div class="form-group col-sm-10">
                            <input type="text" class="form-control " required name="position" #pos=ngModel pattern="[\w]{4,20}" [class.is-invalid]="pos.invalid && pos.touched" [class.is-valid]="pos.valid" [(ngModel)]="position" placeholder="Enter Position" />

                            <div *ngIf="pos.errors && pos.invalid && pos.touched">
                                <small class="text-danger" *ngIf="pos.errors.required">required</small>
                                <small class="text-danger" *ngIf="pos.errors.pattern">
                                 Position should be atleast of 4 letters
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="form-group col-sm-10">


                            <input type="email" required pattern="[\w\.-]{4,20}(@[\w]{3,6})(.[\w]{2,6})" class="form-control " required #ema=ngModel name="email" [class.is-invalid]="ema.invalid && ema.touched" [class.is-valid]="ema.valid" [(ngModel)]="email" aria-describedby="emailHelp"
                                placeholder="Email Id" />
                            <div *ngIf="ema.errors && ema.invalid && ema.touched">
                                <small *ngIf="ema.errors.required">required</small>
                                <small *ngIf="ema.errors.pattern">email should follow pattern name@gmail.com </small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label">Mobile No. :</label>
                        <div class="form-group col-sm-10 ">


                            <input type="number" pattern="[7-9][\d]{9}" [class.is-invalid]="mobil.invalid && mobil.touched" required [class.is-valid]="mobil.valid" name="mobile" #mobil=ngModel [(ngModel)]="mobile" class="form-control " placeholder="Mobile No." />
                            <div *ngIf="mobil.errors && mobil.invalid && mobil.touched">
                                <small *ngIf="mobil.errors.required" style="color: tomato;">required</small
                                >
                                <small *ngIf="mobil.errors.pattern" style="color: tomato;"
                                  >No should start with 7 or 8 or 9 and should be of 10 digits</small
                                >
                              </div>
                              </div>
                        </div>
                        
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Date of Birth</label>
                    
                    
                        <div class="form-group col-sm-10">
                    
                            <mat-form-field class="example-full-width " style="width: 100%" appearance="none">
                                <mat-label>Date of Birth</mat-label>
                                <input name="dob"class="form-control " type="date" style="width: 100%;" required [(ngModel)]="dob"
                            #do    [class.is-invalid]="do.invalid && do.touched" required [class.is-valid]="do.valid"  matInput />
                               

                                <!-- <mat-datepicker-toggle matSuffix [for]="picker" style="  z-index: 1200 !important">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    <mat-datepicker #picker style="  z-index: 1200 !important"></mat-datepicker>

                                </mat-datepicker-toggle> -->
                            
                               
                           </mat-form-field>
                    
                            <small></small>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 col-form-label">Address</label>

                            <div class="form-group col-sm-10">

                                <textarea type="textarea" [class.is-invalid]="add.invalid && add.touched" [class.is-valid]="add.valid" required name="address" #add=ngModel [(ngModel)]="address" class="form-control " placeholder="Address"></textarea>
                                <div *ngIf="add.errors && add.invalid && add.touched">
                                    <small class="text-danger" *ngIf="add.errors.required">required</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <label class="col-sm-2 col-form-label">This is Employee Id</label>

                            <div class="form-group col-sm-10">

                                <input type="text" name="id" [(ngModel)]="id" class="form-control " placeholder="This is Employee Id" />
                            </div>
                        </div>




                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-success" style="float: right; width: 45%" data-toggle="modal" data-target="#exampleCenter">
                        Modify
                      </button>
                        <!-- <button id="modify"data-toggle="modal" data-target="#exampleModal"   class="btn btn-success" data-toggle="modal" data-target="#exampleCenter">
                    Modify
                  
                    </button> -->


                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <div class="modal fade" id="exampleCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="border: none">
                                        <h2 class="modal-title" id="exampleModalLongTitle">
                                            your data got modified successfully
                                        </h2>
                                        <button type="button" class="close" routerLink="/keep" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">
                                  ok
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</form>
 <div class="loading" *ngIf="loading" style="z-index: 1111;">
      <div  id="cssLoader17" >
          <div class="cssLoader17"></div>
      </div>
    </div>