.model {
  width: 90%;
  height: 100%;
  padding-top: 5%;
  position: relative;
}
.modeel{
  width: 400px;
}
.a {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}

.innerbox {
  width: auto;
  height: auto;
  border: 2px solid rgb(173, 172, 172);
  border-radius: 8px;
  padding: 5px;
}
button{
  border-radius: 8px;
}
.mainbox{
  height: auto;
  width:auto;
  
  position: relative;
}