   
<p>Example of using the Web Audio API to load a sound file as an ArrayBuffer, encode and decode the ArrayBuffer
  and start playing audio on user-click.</p>
<input type="file" accept="audio/*" (change)=onSelectFile($event)>
<button (click)="playSound(urls)" >Start</button>
<button (click)="togglle()">Stop</button>




 <!-- <ngb-carousel style="width: 50%;margin-left: 25%;border: none;outline: none;"   >
                <ng-template ngbSlide  *ngFor="let list of matchTheFollowing.answer[optionIndex]?.option_media;let i = index">
                  <div class="picsum-img-wrapper">
                            
                            &nbsp;<nb-icon
                            style="margin-left:18vw;"
                                  (click)= "removeMAtchAnstionansMedia(i,optionIndex)"
                                          class="pointer"
                                          icon="close-circle-outline"
                                          pack="eva"
                                        ></nb-icon>
                                        <br> -->
                            <!-- mydatawith[myindexdata] -->
                            <!-- <div>
<img *ngIf="list.type == 'image'" [src]="list.url" width="100%" height="300px" />
<video *ngIf="list.type == 'video'" [src]="list.url" width="100%" height="300px" controls></video>
 <div *ngIf="list.type == 'audio'" style="background-color: black;padding: 20px;">
  <div style="color: #e0e7ff;font-size: 20px;margin-left: 15.5vw;">{{i+1}} </div> 
<button style="border: none;outline: none;background-color: transparent;"
nbTooltip="Play" nbTooltipPlacement="top" >

       &nbsp;<nb-icon
     
             (click)="playSound(list.url)"
                    class="audio"
                    icon="play-circle-outline" -->
                    <!-- pack="eva"
                  ></nb-icon></button>
                  <button style="border: none;outline: none;background-color: transparent;"
                  nbTooltip="Pause" nbTooltipPlacement="top" tooltip-text-color='white'>

 &nbsp;<nb-icon
     (click)="togglle()" 
                    class="audioo"
                    icon="pause-circle-outline"
                    pack="eva"
                  ></nb-icon></button>
</div>      

 -->

<!-- </div> 
                  
                </div>    
        
          </ng-template>   
        </ngb-carousel>
           -->
