.model {
  width: 95%;
  height: 95%;
  padding-top: 8%;
  position: relative;
  padding-left: 3%;
}
.a {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}

.innerbox {
  width: auto;
  height: auto;
  border: 2px solid rgb(156, 151, 151);
  border-radius: 8px;
}
.modeel {
  text-align: center;
  height: 100%;
  border-radius: 8px;
}
.mainbox{
  height: auto;
  width:100%;
 
  position: relative;
}
