<router-outlet></router-outlet>
<!-- {{data|json}} -->
<!-- <form #form=ngForm (ngSubmit)="sub(form)">
<input type="text" name="name" [(ngModel)]='name' id="">
<input type="text" name="hello" [(ngModel)]='hello'  id="">
<button type="submit">submit</button>
</form> -->
<div *ngIf="file" id="nb-global-spinner" class="spinner">
      <div class="blob blob-0"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
    </div>