.image {
 
  height: 500px;
  width:100% ;
  background-size: cover;
  overflow: hidden;
  animation: frank 35s infinite;
  /* animation: name duration timing-function delay iteration-count direction
      fill-mode; */
}
@keyframes frank {
  0% {
    background-image: url("/assets/62.jpg");
  }
  25% {
    background-image: url("/assets/48.jpg");
  }
  50% {
    background-image: url("/assets/49.jpg");
  }
  75% {
    background-image: url("/assets/50.jpg");
  }
  100% {
    background-image: url("/assets/51.jpg");
  }
}
