.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: black;
    font-weight: bold;
    opacity: 0.5 !important;
}

mat-accordion mat-expansion-panel {
    border-radius: 20px;
}

#inputtag {
    width: 100%;
    height: 50px;
    /* border: 1px solid rgb(146, 142, 142); */
    box-shadow: 0px 1px 2px 2px rgb(209, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    opacity: 0.5 !important;
    padding: 12px 0 0 18px;
    display: flex;
}

#title {
    display: none;
}

.paint {
    width: 25px;
    height: 15px;
    opacity: 0.6;
}

.paintt {
    width: 25px;
    height: 15px;
    margin-top: -20px;
}

.image {
    margin-left: 15vw;
    margin-top: 10px;
}

.modal-dialog {
    width: 100vw;
    height: 100px;
}

.card {
    width: 250;
    margin: 15px 0px 10px 0;
    border: 0.2px solid rgb(252, 247, 247);
    border-radius: 10px;
    display: inline-block;
}

.container {
    padding: 1rem;
    column-count: 4;
}

.card:hover .cardicon {
    visibility: visible;
}

.titleicon mat-icon {
    margin: 0 4% 0 4%;
    cursor: pointer;
}

.btn-warning {
    background-color: #ffe4b5 !important;
    float: right;
    margin-top: -8%;
}


/* #file{
    height:20px;
    border-radius: 5px;
    border:.5px solid grey;
    color: rgb(201, 195, 195);
  } */

.cardicon {
    margin-bottom: -25px;
    visibility: hidden;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
}

.cardicon  mat-icon{
margin-left:5%;
 width: 30px;
    height: 30px;
        border: 0.5px solid transparent;

}

.notecolors,
.colors,
.noecolors {
    width: 85px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    border: 0.2px solid rgb(192, 189, 189);
    border-radius: 5px;
    position: absolute;
    margin: -99px 0 0 155px;
    z-index: 1;
    background-color: blanchedalmond;
}

.noecolors {
    margin: -95px 0 0 145px;
}

.notecolors {
    margin: -125px 0 0 105px;
}

.notecolors .input button,
.colors .input button,
.noecolors .input button {
    outline: none;
    border: 2px solid rgba(23, 67, 88, 0.2);
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.notecolors .input,
.colors .input,
.noecolors .input {
    margin: 3% 2% -1% 1%;
}

.notecolors button,
.colors button,
.noecolors button {
    outline: none;
    border: 3px solid rgb(228, 224, 224);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(252, 252, 253);
    margin: 0 1% 0 1%;
}

.titleiconmodal mat-icon {
    float: left !important;
    margin: 0 60px 0px 50px;
    cursor: pointer;
}




mat-card mat-icon:hover {
    width: 30px;
    height: 28px;
    border: 0.5px solid rgb(243, 241, 241);
    padding-left: 2px;
    border-radius: 50%;
    background-color: #c0bfbf;
    
}

.remain {
    border: solid;
    width: 280px;
    height: 280px;
    position: absolute;
}

#remainder {
    color: white !important;
    width: 50px;
    padding-right: 5px;
    margin-left: -20px;
}

.datein {
    width: 185px;
    height: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgba(166, 170, 166, 0.3);
    text-align: center;
    font-size: 14px;
}

.far {
    margin-left: 8px;
    margin-top: 4px;
    position: absolute;
}

.fa-clock-o {
    margin-right: 3px;
}

@media (min-width: 990px) {
    .notetag {
        width: 50%;
        margin: auto;
    }
    .paint {
        margin-left: 70%;
    }
    .container {
        column-count: 3;
    }
    .card {
        width: 100%;
    }
    .card mat-icon {
        margin: 0 45% 0 2%;
    }
    .cardicon mat-icon {
     margin: 0 75% 0 60%;
    }
    mat-card mat-icon:hover {
   
     margin: 0 75% 0 60%;
}
.colors{
        margin: -80px 0 0 220px;

}
}

@media (min-width: 1126px) {
    .notetag {
        width: 50%;
        margin: auto;
    }
    .container {
        column-count: 4;
    }
    .card {
        width: 100%;
    }
    .card mat-icon {
        margin: 0 45% 0 45%;
    }
     mat-card mat-icon:hover {
  
 margin: 0 45% 0 45%;
}
.colors{
        margin: -80px 0 0 180px;

}
}
@media (min-width: 1200px) {
    .notetag {
        width: 50%;
        margin: auto;
    }
    .container {
        column-count: 4;
    }
    .card {
        width: 100%;
    }
    .card mat-icon {
        margin: 0 50% 0 50%;
    }
     mat-card mat-icon:hover {
  
 margin: 0 50% 0 50%;
}
.colors{
        margin: -80px 0 0 180px;

}
}

@media (min-width: 1306px) {
    .notetag {
        width: 50%;
        margin: auto;
    }
    .container {
        column-count: 5;
    }
    .card {
        width: 100%;
    }
    .card mat-icon {
        margin: 0 25% 0 25%;
    }
     mat-card mat-icon:hover {
    
     margin: 0 25% 0 25%;
}
.colors{
        margin: -80px 0 0 150px;

}
}

@media (min-width: 1512px) {
    .notetag {
        width: 50%;
        margin: auto;
    }
    .container {
        column-count: 5;
        width: 100%;
    }
    .card {
        width: 100%;
        margin: 10px;
    }
    .card mat-icon {
        margin: 0 30% 0 30%;
    }
     mat-card mat-icon:hover {
    
     margin: 0 30% 0 30%;
}
.colors{
        margin: -80px 0 0 150px;

}
}

@media (min-width: 1912px) {
    .notetag {
        width: 50%;
        margin: auto;
    }
    .container {
        column-count: 5;
        width: 100%;
    }
    .card {
        width: 100%;
        margin: 10px;
    }
    .card mat-icon {
        margin: 0 30% 0 30%;
    }
     mat-card mat-icon:hover {
  
     margin: 0 30% 0 30%;
}

}

@media (max-width: 990px) {
    .notetag {
        width: 80%;
        margin: auto;
    }
    .paint {
        margin-left: 60%;
    }
    .container {
        column-count: 3;
    }
    .card {
        width: 100%;
    }
    .card mat-icon {
        margin: 0 35% 0 35%;
    }
     mat-card mat-icon:hover {
   
  margin: 0 35% 0 35%;
}
.colors{
        margin: -80px 0 0 160px;

}
}

@media (max-width: 789px) {
    .pin {
        margin-left: -2vw;
    }
    .paint {
        margin-left: 50%;
    }
    .container {
        column-count: 2;
    }
    .card {
        width: 100%;
    }
    .card mat-icon {
        margin: 0 60% 0 65%;
    }
     mat-card mat-icon:hover {
   
     margin: 0 60% 0 65%;
}
.colors{
        margin: -80px 0 0 180px;

}
}
@media (max-width: 769px) {
.card mat-icon {
        margin: 0 40% 0 55%;
    }
      mat-card mat-icon:hover {
   
        margin: 0 40% 0 55%;
}
}

@media (max-width: 640px) {
    .paint {
        margin-left: 40%;
    }
    .notetag {
        width: 95%;
    }
    .container {
        column-count: 1;
    }
   .card mat-icon {
        margin: 0 100% 0 180%;
    }
      mat-card mat-icon:hover {
  
        margin: 0 100% 0 180%;
}
    .colors{
        margin: -80px 0 0 380px;

}
}

@media (max-width: 590px) {
    .container {
        column-count: 1;
    }
    .card {
        width: 100%;
    }
    .card mat-icon {
        margin: 0 100% 0 130%;
    }
     mat-card mat-icon:hover {
  
        margin: 0 100% 0 130%;
}
.colors{
        margin: -80px 0 0 300px;
}

}

@media (max-width: 500px) {
    .paint {
        margin-left: -0.1vw;
    }
    .pin {
        margin-left: -80vw;
    }
    .notetag {
        width: 95%;
    }
    .container {
        column-count: 1;
    }
     .card mat-icon {
        margin: 0 100% 0 90%;
    }
     mat-card mat-icon:hover {
 
        margin: 0 100% 0 90%;
}
.colors{
        margin: -80px 0 0 270px;
}
}


@media (max-width: 470px) {
    
     .card mat-icon {
        margin: 0 90% 0 80%;
    }
     mat-card mat-icon:hover {
  
        margin: 0 90% 0 80%;
}
.colors{
        margin: -80px 0 0 220px;
}
}


@media (max-width: 431px) {
    
     .card mat-icon {
        margin: 0 100% 0 115%;
    }
     mat-card mat-icon:hover {
 
        margin: 0 100% 0 115%;
}
.colors{
        margin: -80px 0 0 310px;
}
}
@media (max-width: 390px) {
    .cardicon mat-icon {
        margin: 0 82% 0 2%;
    }
    .paint {
        margin-left: -3vw;
    }
       .card mat-icon {
        margin: 0 100% 0 80%;
    }
     mat-card mat-icon:hover {
   
        margin: 0 100% 0 80%;
}
.colors{
        margin: -80px 0 0 240px;
}
}