

<button class="btn-warning" mat-raised-button routerLink="/keep">
  Google keeps</button
><br /><br />
<button class="emp" mat-raised-button routerLink="/emp">

  Employee Form</button
><br /><br>
<button class="webcam" mat-raised-button (click)="allowCam()">
  <span>📸</span>Web cam
</button>
<br /><br />

<button class="hotel" routerLink="/hotel">Hotel Managment</button><br /><br>


<button class="map" mat-raised-button routerLink="/maps">
  Google Map Distance</button
><br /><br>
<button class="QrCode" mat-raised-button (click)="allowBar()">
  QrCode And BarCode Scanner</button
><br /><br />
<button class="btn-primary" mat-raised-button routerLink="/lifecycle">
  Angular LifeCycle</button
><br /><br />

 
  
<button class="btn-primary" routerLink="/hia">audio</button> 